black~=22.0
flake8>=3.7.9, <5.0
ipython>=7.31.1, <8.0
isort~=5.0
jupyter~=1.0
jupyterlab~=3.0
kedro~=0.18.3
kedro[pandas]
kedro[plotly]
kedro[matplotlib]
kedro-viz
kedro-telemetry~=0.2.0
nbstripout~=0.4
pytest-cov~=3.0
pytest-mock>=1.7.1, <2.0
pytest~=6.2
setuptools==65.6.3

# Code
pre-commit
pyyaml~=6.0

# Data
yfinance~=0.1.87
pandas~=1.5.1
pandas-stubs
great_expectations

# Visualization
matplotlib~=3.6.2
seaborn~=0.12.1

# Modelling
prophet
numpy~=1.23.5
